body {
    background-color: darkolivegreen;
    font-family: "Libre Baskerville", serif;
}

img {
    width: 100%;
    margin-top: 100px;
    border: 7px solid black;
}

h1 {
    text-transform: uppercase;
}

#image {
    width: 50%;
    margin-left: 25%;
}

#text {
    margin-top: 40px;
    text-align: center;
    color: antiquewhite;
}